<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Logovanje</servlet-name>
        <servlet-class>Logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>servleti.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogovanjeServlet</servlet-name>
        <servlet-class>servleti.LogovanjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servleti.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoviKorisnik</servlet-name>
        <servlet-class>servleti.NoviKorisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinke</servlet-name>
        <servlet-class>servleti.PromenaLozinke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajLaboratoriju</servlet-name>
        <servlet-class>servleti.DodajLaboratoriju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeKompanije</servlet-name>
        <servlet-class>servleti.DodavanjeKompanije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeSefa</servlet-name>
        <servlet-class>servleti.DodavanjeSefa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AzuriranjeLab</servlet-name>
        <servlet-class>servleti.AzuriranjeLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZahtevNabavka</servlet-name>
        <servlet-class>servleti.ZahtevNabavka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusOpreme</servlet-name>
        <servlet-class>servleti.StatusOpreme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaArtikla</servlet-name>
        <servlet-class>servleti.PretragaArtikla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pretraga</servlet-name>
        <servlet-class>servleti.Pretraga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaMagacina</servlet-name>
        <servlet-class>servleti.PretragaMagacina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeArtiklaMagacin</servlet-name>
        <servlet-class>servleti.DodavanjeArtiklaMagacin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpisOpreme</servlet-name>
        <servlet-class>servleti.OtpisOpreme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusOpremeMagacin</servlet-name>
        <servlet-class>servleti.StatusOpremeMagacin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjePrihvArtik</servlet-name>
        <servlet-class>servleti.DodavanjePrihvArtik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinkeAdmin</servlet-name>
        <servlet-class>servleti.PromenaLozinkeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinkeLab</servlet-name>
        <servlet-class>servleti.PromenaLozinkeLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinkeMag</servlet-name>
        <servlet-class>servleti.PromenaLozinkeMag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AktivacijaKorisnika</servlet-name>
        <servlet-class>servleti.AktivacijaKorisnika</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logovanje</servlet-name>
        <url-pattern>/Logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/RegistracijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogovanjeServlet</servlet-name>
        <url-pattern>/LogovanjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoviKorisnik</servlet-name>
        <url-pattern>/NoviKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinke</servlet-name>
        <url-pattern>/PromenaLozinke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajLaboratoriju</servlet-name>
        <url-pattern>/DodajLaboratoriju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeKompanije</servlet-name>
        <url-pattern>/DodavanjeKompanije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeSefa</servlet-name>
        <url-pattern>/DodavanjeSefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AzuriranjeLab</servlet-name>
        <url-pattern>/AzuriranjeLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZahtevNabavka</servlet-name>
        <url-pattern>/ZahtevNabavka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusOpreme</servlet-name>
        <url-pattern>/StatusOpreme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaArtikla</servlet-name>
        <url-pattern>/PretragaArtikla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pretraga</servlet-name>
        <url-pattern>/Pretraga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaMagacina</servlet-name>
        <url-pattern>/PretragaMagacina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeArtiklaMagacin</servlet-name>
        <url-pattern>/DodavanjeArtiklaMagacin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpisOpreme</servlet-name>
        <url-pattern>/OtpisOpreme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusOpremeMagacin</servlet-name>
        <url-pattern>/StatusOpremeMagacin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjePrihvArtik</servlet-name>
        <url-pattern>/DodavanjePrihvArtik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinkeAdmin</servlet-name>
        <url-pattern>/PromenaLozinkeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinkeLab</servlet-name>
        <url-pattern>/PromenaLozinkeLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinkeMag</servlet-name>
        <url-pattern>/PromenaLozinkeMag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AktivacijaKorisnika</servlet-name>
        <url-pattern>/AktivacijaKorisnika</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
